.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #292828;
    box-sizing: border-box;
    border-bottom: 1px solid #292828;
}

.cabecalho__lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.3rem;
    justify-content: center;
    padding: 10px 0 0 0;
    margin: 10px 10px 0 10px;
}

.cabecalho__link{
    margin: 10px;
    text-decoration: underline;
    color: #CBDDD1;
}

.cabecalho__logo{
    width: 10rem;
    padding: 10px 0 0 0;
}

