.descricao  {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-align: center;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

.descricao__titulo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;

}

.descricao__subtitulo{
    padding: 0 0 1.5rem 0;
}

.descricao__texto {
    font-size: 1.2rem;
    line-height: normal;
    margin: 0 auto 2.5rem;
    font-weight: 600;
}

.descricao__botao {
    width: 100%;
    text-decoration: none;
    color: black;
}

@media screen and (width: 768px) {
    .descricao__texto{
        max-width: 600px;
    }
}